GID=1000
UID=1000

# Django settings
ACCOUNT_DEFAULT_HTTP_PROTOCOL="http"
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.local
FRONTEND_URL=http://localhost:3000
SECRET_KEY=your-secret-key-here

# Database settings
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=your-db-name
POSTGRES_PASSWORD=your-db-password
POSTGRES_USER=your-db-user

# Email settings
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_DEFAULT_REGION=your-default-region
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_SES_REGION=your-ses-region
AWS_SES_REGION_ENDPOINT=your-ses-region-endpoint
DEFAULT_FROM_EMAIL=your-email@example.com
EMAIL_BACKEND=django_ses.SESBackend

# Celery settings
CELERY_BROKER_URL=amqp://admin:admin@rabbitmq:5672/staging_vhost

# RabbitMQ settings
RABBITMQ_DEFAULT_PASS=your-broker-password
RABBITMQ_DEFAULT_USER=your-broker-user
RABBITMQ_DEFAULT_VHOST=staging_vhost
