repos:
  # Ruff (Linter & Formatter)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix]  # Automatically fix small issues
      - id: ruff-format

  # - repo: local
  #   hooks:
  #     - id: pyright
  #       name: pyright
  #       entry: pyright
  #       language: system
  #       types: [python]
  #       pass_filenames: true
