
services:
  web:
    build: .
    container_name: comic_web
    command: python /wait_for_db.py
    volumes:
      - ./src:/app  
    ports:
      - "8000:8000"
    env_file:
      - ./.env  
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    container_name: comic_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=comic_db
      - POSTGRES_USER=comic_user
      - POSTGRES_PASSWORD=comic_pass
    ports:
      - "5432:5432" 

volumes:
  postgres_data: 