
services:
  db:
    image: postgres:16.2
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  selenium:
    image: selenium/standalone-chrome:136.0
    restart: unless-stopped
    hostname: selenium
    ports:
      - "4444:4444"

  backend:
    build:
      context: .
      args:
        USER_ID: ${UID}
        GROUP_ID: ${GID}
      dockerfile: ./app/Dockerfile.prod
    restart: unless-stopped
    volumes:
      - static_volume:/code/app/staticfiles
    expose:
      - "8000"
    env_file:
      - ./.env.prod
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile.prod
      args:
        USER_ID: ${UID}
        GROUP_ID: ${GID}
        VITE_API_BASE_URL: /api
    restart: unless-stopped
    expose:
      - "80"
    depends_on:
      - backend

  nginx:
    image: nginx:1.28.0
    restart: unless-stopped
    ports:
      - "8080:80"  # HTTP
      - "8443:443"  # HTTPS
    volumes:
      - ./app/src/config/nginx:/etc/nginx/templates
      - ./app/src/ssl:/code/app/ssl:ro
      - static_volume:/code/app/staticfiles:ro
    depends_on:
      - backend
      - ui

volumes:
  postgres_data:
  static_volume:
